//
// custom styling based on DnD classes
//
.dnd-items:not(#a) {

    > .dnd-item.being-dragged {
        height: 0px;
        visibility: hidden;
    }

    > .dnd-spacer {
        &.active {
            height: 50px;
            &.near-dragged { height: 0px; }
        }
    }

}

//
// Default DnD styling to make things work as expected:
//
.dnd-items {

    > .dnd-item {
        position: relative;
    }

    > .dnd-spacer {
        height: 0px;
        &.active {
            height: 25px;
        }
    }

    &.active {

        > .dnd-item {
            > .dnd-item-before {
                position: absolute;
                top: 0;
                left: 0;
                height: 50%;
                width: 100%;
            }
            > .dnd-item-after {
                position: absolute;
                top: 50%;
                left: 0;
                height: 50%;
                width: 100%;
            }
        }

    }

}