//
// custom styling based on DnD classes
//
.dnd-items:not(#a) {

    > .dnd-item.being-dragged {
        opacity: 0.3;
        //height: 50px;
        //visibility: hidden;
    }

    > .dnd-spacer {

        &.active {
            height: 50px;
            &.near-dragged { height: 0px; }
        }
    }

    &.active > .dnd-spacer.singleton {
        border: 4px dashed #cbcbff;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: 'DROP TO ADD ENTRY';
            color: #cbcbff;
            font-weight: bold;
        }
    }

}

//
// Default DnD styling to make things work as expected:
//
.dnd-items {

    > .dnd-item {
        position: relative;
    }

    > .dnd-spacer {
        height: 0px;
        &.active {
            height: 25px;
        }
    }

    &.active {

        > .dnd-spacer.singleton {
            height: 25px;
        }

        > .dnd-item {
            > .dnd-item-before {
                position: absolute;
                top: 0;
                left: 0;
                height: 50%;
                width: 100%;
            }
            > .dnd-item-after {
                position: absolute;
                top: 50%;
                left: 0;
                height: 50%;
                width: 100%;
            }
        }

    }

}