body, html {
	margin: 0;
	padding: 0;
	//font-family: 'Open Sans', sans-serif;
}

.top {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	color: white;
	background-color: black;
	padding: 0.5em 1em;

	.button {
		cursor: pointer;
	}

	.loading-overlay {
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;

		.mdl-progress {
			width: auto;
		}
	}

}

.add-entry-area {
	display: flex;
	align-items:center;
	justify-content:center;
	padding-top:1em;
}

.entries {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;

	> .entry {
		display: flex;
		flex-direction: column;
		position: relative;
				
		width: 500px;
		margin-bottom: 5px;
		padding: 10px;
		padding: 0.5em 1em;

		border-bottom: 1px solid rgb(209, 209, 209);
		border-right: 1px solid rgb(209, 209, 209);
		border-top: 1px solid rgb(248, 248, 248);

		border-left: 4px solid blue;
		&:nth-child(2n) {
			border-left: 4px solid green;
		}

		> .title {
			font-weight: 600;
			display: flex;
			align-items: center;
			margin-bottom: 0.5em;

			> .icon {
				display: flex; //wrap actual MDL icon.
				margin-right: 0.5em;
			}
		}

		> .description {
			//avoid hitting duration:
			width: calc(100% - 35px);
		}

		> .user {
			font-style: italic;
			color: rgb(130, 130, 130);
			font-size:90%;

			//avoid hitting duration:
			width: calc(100% - 35px);
		}

		> .duration {

			position: absolute;
			bottom: 10px;
			right: 10px;

			display: flex;
			align-self: flex-end;

			border-radius: 15px;
			width: 30px;
			height: 30px;

			background-color: #e4e4e4;
			color: #323133;

			align-items: center;
			justify-content: center;
		}

	}
}

.login-modal {
	.inputs {
		display: flex;
		flex-direction: column;
	}
	.bottom-row {
		display: flex;
		align-items: center;
		> .error {
			flex-grow: 1;
			margin-left: 1em;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #ff8989;
			align-self: stretch;
			border-radius: 2px;
			color: black;
			border-left: 3px solid red;
		}
	}
}

.entry-modal {

	padding-top: 15px;

	> .inputs {

		.input-name {
			padding-right: 1em;
		}
		.input-row {
			> .input-name {
				vertical-align: top;
			}
			> .input-widget {
				.type-inputs {
					> *:not(:last-child) {
						margin-right: 1em;
					}
				}
				.mdl-textfield {
					padding-top: 0;
					.mdl-textfield__input {
						padding-top: 0px;
					}
					.mdl-textfield__label {
						top: 0px;
					}
				}
			}
		}

	}

	> .bottom-row {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-top: 15px;
	}

}

.modal-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.1);

	display: flex;
	align-items: center;
	justify-content: center;

	> .modal-inner {

		background-color: white;
		border-radius: 3px;
		position: relative;
		box-shadow: 0px 7px 24px 0px rgba(0,0,0,0.84);

		> .title {
			padding: 0.5em 1em;
			border-bottom: 1px solid rgba(0,0,0,0.3);
			font-weight: bold;

			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			> .closer {
				height: 1em;
				width: 1em;
				background-color: red;
			}

			> .loading-overlay {
				position: absolute;
				bottom: -2px;
				width: 100%;
				left: 0;
				.mdl-progress {
					width: auto;
				}
			}

		}

		> .content {
			padding: 0.5em 1em 1em 1em;
			position: relative;
		}

	}

}