body, html {
	margin: 0;
	padding: 0;
	//font-family: 'Open Sans', sans-serif;
}

.top {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	color: white;
	background-color: #6d6fab;
	padding: 0.5em 1em;
	border-bottom: 2px solid purple;

	> .right {
		display: flex;
		align-items: center;

		> .login-button {
			color: rgb(255, 255, 255) !important;
		}

	}

	.loading-overlay {
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;

		.mdl-progress {
			width: auto;
		}
	}

}

.add-entry-area {
	display: flex;
	align-items:center;
	justify-content:center;
	padding-top:1em;

	> *:not(:last-child) {
		margin-right: 10px;
	}
}

.entries {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;

	> .entry {
		display: flex;
		flex-direction: column;
		position: relative;

		width: 500px;
		margin-bottom: 5px;
		padding: 10px;
		padding: 0.5em 1em;

		border-bottom: 1px solid rgb(209, 209, 209);
		border-right: 1px solid rgb(248, 248, 248);
		border-top: 1px solid rgb(248, 248, 248);

		&.entry-talk {
			border-left: 4px solid blue;
		}
		&.entry-project {
			border-left: 4px solid green;
		}

		> .title {
			font-weight: 600;
			display: flex;
			align-items: center;
			margin-bottom: 0.5em;

			.text.link {
				font-weight: 600;
				color: #5c5eff;
				text-decoration: underline;
				cursor: pointer;
			}

			> .icon {
				display: flex; //wrap actual MDL icon.
				margin-right: 0.5em;
			}
		}

		> .description {
			//avoid hitting duration:
			width: calc(100% - 35px);
		}

		> .user {
			font-style: italic;
			color: rgb(130, 130, 130);
			font-size:90%;

			//avoid hitting duration:
			width: calc(100% - 35px);
		}

		> .duration {

			position: absolute;
			bottom: 10px;
			right: 10px;

			display: flex;
			align-self: flex-end;

			border-radius: 15px;
			width: 30px;
			height: 30px;

			background-color: #e4e4e4;
			color: #323133;

			align-items: center;
			justify-content: center;
		}

	}
}

@mixin modal-bottom-row {
	display: flex;
	align-items: center;
	padding-top: 10px;

	> .space-filler {
		flex-grow: 1;
	}
	> .error {
		flex-grow: 1;
		margin-left: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ff8989;
		align-self: stretch;
		border-radius: 2px;
		color: black;
		border-left: 3px solid red;
	}
}

.choice-modal {
	> .content {
		display: flex;
		align-items: center;
		> .icon {
			display: flex;
    		padding-right: 15px;
		}
	}
	> .buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 15px;
		> .perform-button {
			background-color: #e40000;
			&:hover {
				background-color: rgb(255, 0, 0);
			}
		}
	}
}

.login-modal {
	.inputs {
		display: flex;
		flex-direction: column;
	}
	.bottom-row {
		@include modal-bottom-row;
	}
}

.set-password-modal {

	width: 350px; // make wider to fit error text

	> .needs-setting-text {
		margin: 10px 0px 10px 0px;
	}
	> .inputs {
		display: flex;
		flex-direction: column;
		> .mdl-textfield {
			width: 100%;
		}
	}
	> .bottom-row {
		@include modal-bottom-row;
	}
}

@mixin input-table {

	//space between rows:
	border-collapse: separate;
	border-spacing: 10px 15px;

	.input-row {
		> .input-name {
			padding-right: 1em;
			vertical-align: middle;
		}
		> .input-widget {
			.type-inputs {
				> *:not(:last-child) {
					margin-right: 1em;
				}
			}
			.mdl-textfield {
				padding-top: 0px;
				padding-bottom: 0px;
				.mdl-textfield__input {
					padding-top: 0px;
				}
				.mdl-textfield__label {
					top: 0px;
					&::after { bottom: 0px; }
				}
			}
		}
	}

}

.user-modal {

	> .inputs {
		@include input-table;

		.set-password-button {
			background-color: rgb(0, 95, 150);
			&:hover {
				background-color: rgb(0, 53, 150);
			}
		}

	}
	> .bottom-row {
		@include modal-bottom-row;
	}

}

.entry-modal {

	> .inputs {

		@include input-table;

		.input-row {
			> .input-name .input-name-description {
				vertical-align: top;
			}
			> .input-widget {
				.duration-input {
					display: flex;
					align-items: center;
				}
			}
		}

	}

	> .bottom-row {
		@include modal-bottom-row;
	}

}

.modal-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	background-color: rgba(0,0,0,0.4);

	display: flex;
	align-items: center;
	justify-content: center;

	> .modal-inner {

		background-color: white;
		border-radius: 3px;
		position: relative;
		box-shadow: 0px 7px 24px 0px rgba(0,0,0,0.84);

		> .title {

			height: 33px; //same height whether X shown or not
			padding: 0.5em 1em;
			border-bottom: 1px solid rgba(0,0,0,0.3);
			font-weight: bold;

			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			> .closer {
				height: 1em;
				width: 1em;
				background-color: red;
			}

			> .loading-overlay {
				position: absolute;
				bottom: -2px;
				width: 100%;
				left: 0;
				.mdl-progress {
					width: auto;
				}
			}

		}

		> .content {
			padding: 0.5em 1em 1em 1em;
			position: relative;
		}

	}

}